<h1 class="mt-3">Acerca de Héroes DC y Marvel</h1>
<hr>
<div class="mt-5 col col-md-8 ">

    <p>
        DC vs. Marvel / Marvel vs. DC es una serie limitada de cómics publicada por Marvel y DC Comics en 1996.
        La primera serie fue escrita por Ron Marz y Peter David, y dibujada por Dan Jurgens y Claudio Castellini.
        En la serie, compuesta de cuatro tomos, los héroes y villanos de cada compañía se enfrentan entre sí para
        decidir qué universo es el mejor y en consecuencia, cuál de las dos editoriales debe sobrevivir.    
    </p>
    
    <p>
    En 1996, la miniserie ganó el Cómics Buyer's Guide Fan Award como la mejor Serie Limitada.
    Esta miniserie es el arco argumental para el lanzamiento de la Línea Amalgam.
</p>
</div>